## 数据透视表 pivot_table()

```python
pivot_table(data,               # DataFrame
            values=None,        # 值
            index=None,         # 分类汇总依据
            columns=None,       # 列
            aggfunc='mean',     # 聚合函数
            fill_value=None,    # 对缺失值的填充
            margins=False,      # 是否启用总计行/列
            dropna=True,        # 删除缺失值
            margins_name='All'  # 总计行/列的名称
            observed=False,     # (没看明白，不管了)
            sort=True           # 是否排序
        )
```
![pic3.3](资源/pic3.3.png)
#### 参数与Excel中的对比

| 参数         | 作用                                      |
| ------------ | --------------------------------------- |
| data         | 相当于Excel插入透视表时的“选中数据源”       |
| index        | “数据透视表字段”的“行”                     |
| columns      | “数据透视表字段”的“列”                     |
| values       | “数据透视表字段”的“值”                     |
| aggfunc      | 计算类型                                  |
| margins      | 是否显示“结果”中的“总计”                   |
| margins_name | 相当于修改总计“总计”的名称                 |
| fill_value   | 将“缺失值”用某个特定值填充                 |
| dropna       | 如果True将把一整行作为缺失值删除            |
| sort         | 对数据进行排序                            |

In [2]:
# 导入数据
import pandas as pd
import numpy as np

df = pd.read_excel("数据/data3.3.xlsx")
df.head()

   区域    货季  品牌    价格  销售数量     销售额
0  深圳  第一季度  特步  1015   100  101500
1  深圳  第一季度  阿迪   628   150   94200
2  深圳  第一季度  乔丹   852   130  110760
3  深圳  第一季度  李宁  1314    80  105120
4  深圳  第二季度  特步  1115    80   89200

In [4]:
# 简单透视表
pd.pivot_table(df,
               values="销售数量",
               index=["货季", "区域"],
               columns="品牌",
               aggfunc="sum")

品牌          乔丹     李宁     特步     阿迪
货季   区域
第一季度 东莞  142.0    NaN    NaN  162.0
     广州  135.0   85.0  105.0  155.0
     深圳  130.0   80.0  100.0  150.0
第三季度 东莞  127.0   85.0  107.0  156.0
     广州  120.0   78.0    NaN  149.0
     深圳  115.0   73.0   95.0  144.0
第二季度 东莞  117.0    NaN    NaN  132.0
     广州  110.0   70.0   85.0  125.0
     深圳  105.0   65.0   80.0  120.0
第四季度 东莞  172.0  110.0  142.0  212.0
     广州  165.0  103.0    NaN  205.0
     深圳  160.0   98.0  130.0  200.0

In [6]:
pd.pivot_table(df,
               values="销售数量",
               index=["货季", "区域"],
               columns="品牌",
               aggfunc="sum",
               margins=True,
               margins_name="总计",
               fill_value=0,
               sort=False)

品牌        特步    阿迪    乔丹   李宁    总计
货季   区域
第一季度 深圳  100   150   130   80   460
     广州  105   155   135   85   480
     东莞    0   162   142    0   304
第二季度 深圳   80   120   105   65   370
     广州   85   125   110   70   390
     东莞    0   132   117    0   249
第三季度 深圳   95   144   115   73   427
     广州    0   149   120   78   347
     东莞  107   156   127   85   475
第四季度 深圳  130   200   160   98   588
     广州    0   205   165  103   473
     东莞  142   212   172  110   636
总计       844  1910  1598  847  5199

#### 用 分组聚合 实现数据透视

In [7]:
grouped = df.groupby(by='货季')
grouped['销售数量'].agg('sum')

货季
第一季度    1244
第三季度    1249
第二季度    1009
第四季度    1697
Name: 销售数量, dtype: int64

In [ ]:
# 学习中